#root {
  width: 100%;
  min-height: 100%;
  display: flex;
}

.flip-card {
  background-color: transparent;
  width: 480px;
  height: 320px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  border-radius: 12px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #7f8c8d;
  color: white;
}

/* Style the back side */
.flip-card-back {
  background-color: #bdc3c7;
  color: #2c3e50;
  transform: rotateX(180deg);
}

b {
  color:#2c3e50;
}

dfn {
  display: inline-block;
  font-style: normal;
  height: fit-content;
}
